# ======= OS / Editor =======
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# ======= Android =======
*.iml
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/
**/Android/build/
**/Android/app/build/
Android/.gradle/
Android/build/
Android/app/build/

# ======= iOS / Xcode =======
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserdatad/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate
**/xcuserdata/
**/project.xcworkspace/xcuserdata/

# ======= Node.js / Web =======
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======= Mock Server & Local Config =======
env.properties
*.local
